<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArcheryPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABC7F7CB1D47B53F00811646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC7F7E91D47B53F00811646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC7F7F41D47B53F00811646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
